body {
    margin: 0;
}

span {
    display: flex;
}

.box-p,
.box-h3 {
    text-align: center;
    width: 150px;
}

.box {
    display: flex;

}

.box-div {
    padding: 30px;
}


@media screen and (max-width: 1200px) {
    body {
    margin: 0;
}

span {
    display: flex;
}

.box-p,
.box-h3 {
    text-align: center;
}

.box {
    display: flex;

}

.box-div {
    padding: 30px;
}
    
}

@media screen and (max-width: 768px) {
    .box {
        flex-direction: column;
    }


}

@media screen and (max-width: 576px) {

    span {
        flex-direction: column;
    }
}
