
.blog-content {
    width: 80%;
    height: 200px;
/*    background: #eee;*/
    float: left;
    }

.blog-img {
    width: 20%;
    height: 200px;
/*    background: yellow;*/
    float: left;
}

.blog-profile {
    width: 50px;
    float: left;
}

.blog-name {
    float: left;
    
    
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/*>직계만 공백은 안에 전부*/
.navbar li{
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 5px; 
}

.navbar a{
        font-size: 16px;
    text-decoration: none;
    
}

.navbar a:visited{
   color: #000;  
}
